In [1]:
print("Debangshini", "Bhattacharjee",sep='_')
print("Debangshini", end='_')
print("Bhattacharjee")

Debangshini_Bhattacharjee
Debangshini_Bhattacharjee

In [3]:
list1=[1,2,3,4,5]
list1.append(10)
print(list1)
list1.extend([9,8,7])
print(list1)
list1.remove(2)
print(list1)
list1.insert(3,25)
print(list1)

[1, 2, 3, 4, 5, 10]
[1, 2, 3, 4, 5, 10, 9, 8, 7]
[1, 3, 4, 5, 10, 9, 8, 7]
[1, 3, 4, 25, 5, 10, 9, 8, 7]

In [4]:
a=int(input("a:"))
b=int(input("b:"))
print("Sum:",a+b)

a: 12
b: 23

Sum: 35

In [5]:
a=int(input())
if(a%2==0):
    print("The no. is even")
else:
    print("The no. is odd")

 23

The no. is odd

In [6]:
l=int(input())
b=int(input())
print("Area of rectangle:",l*b)

 23
 45

Area of rectangle: 1035

In [7]:
num1=10
num2=3
print("The reminder is:",num1%num2)
print("Quotient:", num1/num2)

The reminder is: 1
Quotient: 3.3333333333333335

In [8]:
name=input("Enter name:")
age=int(input("Age:"))
print("Hello ",name," Your age next year will be ",age," years")

Enter name: Debangshini
Age: 19

Hello  Debangshini  Your age next year will be  19  years

In [1]:
arr=[10,20,30,40,50]
mid=len(arr)//2
arr[mid:]=arr[mid:][::-1]
print(arr)

[10, 20, 50, 40, 30]

In [8]:
a = []
n = int(input("Enter the size: "))
for i in range(n):
    arr = int(input(f"Enter element {i + 1}: "))
    a.append(arr)

a.sort()  

if n % 2 == 0:
    med = (a[n // 2 - 1] + a[n // 2]) / 2
else:
    med = a[n // 2]

print(f"The median is: {med}")

Enter the size:  3
Enter element 1:  1
Enter element 2:  2
Enter element 3:  3

The median is: 2

In [13]:
a=[]
n=int(input("Enter the size:"))
for i in range(n):
    arr=int(input())
    a.append(arr)
a.sort()
k=int(input("Enter the value of k:"))
a.sort(reverse=True)
k_largest=a[k-1]
a.remove(k_largest)
a.sort()
print(a)

Enter the size: 5
 11
 23
 56
 20
 8
Enter the value of k: 3

[8, 11, 23, 56]

In [5]:
p = 40000
l = [5, 10, 15, 20]

for i in l:
    d = p - (p * i / 100)  
    print(d)

38000.0
36000.0
34000.0
32000.0

In [7]:
for i in range(1,11):
    print(5*i)

5
10
15
20
25
30
35
40
45
50

In [8]:
for i in range(2,11):
    if i%2==0:
        print(i)

2
4
6
8
10

In [1]:
def add(a,b):
    return a+b
a=int(input("a:"))
b=int(input("b:"))
add(a,b)

a: 12
b: 34

46

In [2]:
def sub(a,b):
    return a-b
a=int(input("a:"))
b=int(input("b:"))
sub(a,b)

a: 45
b: 34

11

In [3]:
def mul(a,b):
    return a*b
a=int(input("a:"))
b=int(input("b:"))
mul(a,b)

a: 78
b: 45

3510

In [4]:
def div(a,b):
    return a/b
a=int(input("a:"))
b=int(input("b:"))
div(a,b)

a: 45
b: 5

9.0

In [5]:
def expo(a,b):
    return a**b
a=int(input("a:"))
b=int(input("b:"))
expo(a,b)

a: 34
b: 2

1156

In [7]:
def square_root(a):
    return a**(1/2)
a=int(input("a:"))
square_root(a)

a: 9

3.0

In [15]:
def reminder(a,b):
    return a%b
a=int(input("a:"))
b=int(input("b:"))
reminder(a,b)

a: 26
b: 5

1

In [16]:
def discount():
    price = 40000
    dis = [0.05, 0.1, 0.15, 0.2]
    l = []
    
    for disc in dis:
        l.append(price - (price * disc)) 
    
    print(l)

discount()

[38000.0, 36000.0, 34000.0, 32000.0]

In [18]:
def odd_even(a):
    if a%2==0:
        return True
    else:
        return False
a=int(input("a:"))
odd_even(a)

a: 2

True

In [21]:
def fact(n):
    if n == 0 or n == 1:  
        return 1
    return  n * fact(n-1)
n=int(input("n:"))
fact(n)

n: 6

720

In [23]:
l=[1,2,3,4,5]
l1=[]
for i in l:
    l1.append(i**2)
print(l1)

[1, 4, 9, 16, 25]

In [24]:
def power(a, b):
    if b == 0:
        return 1
    return a * power(a, b - 1)

a = int(input("Enter base: "))
b = int(input("Enter exponent: "))
print(f"{a}^{b} = {power(a, b)}")

Enter base:  45
Enter exponent:  4

45^4 = 4100625

In [25]:
def square_list():
    squares = [x**2 for x in range(1, 31)]
    print(squares)

square_list()

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100, 121, 144, 169, 196, 225, 256, 289, 324, 361, 400, 441, 484, 529, 576, 625, 676, 729, 784, 841, 900]

In [26]:
from collections import defaultdict

def create_dict(keys, values):
    result = defaultdict(set)
    for k, v in zip(keys, values):
        result[k].add(v)
    return result
keys = ['Class-V', 'Class-VI', 'Class-VII', 'Class-VIII']
values = [1, 2, 2, 3]

output = create_dict(keys, values)
print(output)

defaultdict(<class 'set'>, {'Class-V': {1}, 'Class-VI': {2}, 'Class-VII': {2}, 'Class-VIII': {3}})